  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" src="images/hero-browse.jpg">
    </div>
  </header>
  
  <section class="blog-masonry bg-muted">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Displaying 21,233 cars found</h2>
          <p>&nbsp;</p>
          <!--<ul class="blog-filters">
            <li data-filter="*" class="active">All</li>
            <li data-filter=".branding">Branding</li>
            <li data-filter=".development">Development</li>
            <li data-filter=".print">Print Design</li>
          </ul>-->
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
    <div class="container">
      <div class="row">
        <div class="blog-masonry-container">
        <div 
        infinite-scroll='loadMore()' 
        infinite-scroll-disabled='' 
        infinite-scroll-immediate-check="true"
        infinite-scroll-distance='3' >
          <div class="col-md-4 col-sm-6 blog-masonry-item branding" ng-repeat="car in cars">
            <div class="item-inner">
              <a href>
                <img alt="Blog Preview" ng-src="{{car.pictures}}">
              </a>
              <div class="post-title">
                <h2>{{car.title | truncate:25}}</h2>
                
                <div class="post-meta">
                  <span class="sub alt-font smaller">Registered: {{car['created_at']}}</span>
                  <span class="sub alt-font smaller">listing availability: {{car.listing_availability}}</span>
                </div>
                <a href class="link-text">{{car['asking_price'] | currency}}</a>
              </div>
            </div>
          </div><!--end of individual post-->
          </div><!--//end-infinite -->
        
        </div><!--end of blog masonry container-->
      </div><!--end of row-->
    </div><!--end of container-->
  </section>