<div class="modal-body">
<h2>Add/Remove Models</h2>
    <input 
    type="text" 
    class="form-control" 
    ng-model="term"
    placeholder="Type name to search car" />


    <div class="row">
     <div class="scroll" style="overflow: scroll; height: 300px">
         <div 
         class="col-md-2"
         ng-repeat="model in models">{{model.title}}
         </div>
     </div>
    </div>
</div>