/****Nav-filter-****/
.nav-filter{
    background: #eeeeee;
    border-top: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff;
}
.nav-filter ul {
    margin: 0;
}
.nav-filter .filter-menu {
    padding: 17px 25px;
    width: 14%;
    cursor: pointer;
    border-right: 1px solid #fff;
    display: inline-table;
}
.filter-models-menu > li > a{
    padding: 11px 15px;

}
li.more-model-btn{
    position: absolute;
    bottom: 0;
}
.filter-menu .model-title{
    font-size: 14px;
    font-weight: bold;
    padding: 11px 10px;
    margin: 2px 0;
    width: 100%;
    color:#111;
    display: block;
}
.nav-filter .filter-menu span{
    line-height: 14px;
}
.nav-filter .filter-models-menu{
    height: calc(100vh - 90px);
    overflow-x: hidden;
    width: 100%;
    border-radius: 0;
}
.search-control input{
    border-radius: 0;
    margin: 5px 5%;
    width: 90%;
}
div.dropdownPrice{
    padding: 0;
    margin-top: 0;
    border-radius: 0;
}
div.dropdownPrice > div > ul > li{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.price-col{
    width: 50%;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
}
div.dropdownPrice .min-price:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #777;
    border-width: 10px;
    left: 0;
}
div.dropdownPrice .max-price:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #777;
    border-width: 10px;
    right: 0;
}
div.dropdownPrice .disabled {
    background-color: #f2f2f2;
    color: #e0e0e0;
}
div.dropdownPrice .inactive, .dropdown-menu .inactive{
    color: #757575;
    background-color: #f2f2f2;
    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(0,0,.58,1);
    -moz-transition: all .2s cubic-bezier(0,0,.58,1);
    -o-transition: all .2s cubic-bezier(0,0,.58,1);
    -ms-transition: all .2s cubic-bezier(0,0,.58,1);
    transition: all .2s cubic-bezier(0,0,.58,1);
}