<div class="footer-container" ng-controller="CommanFooterCtrl">

  <footer class="bg-primary short-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span class="text-white">&copy; Carro Pte Ltd</span>
          <span class="text-white"><a href="#">hello@trusty.sg</a></span>
          <span class="text-white">+65 6714 6652</span>
          <span class="text-white">50 Raffles Place, Singapore 048623</span>
        </div>
      </div>
    </div>
    
    <div class="contact-action">
      <div class="align-vertical">
        <i class="icon text-white icon_mail"></i>
        <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
      </div>
    </div>
  </footer>
</div>