<div class="nav-container" ng-controller="CommanNavCtrl">
<nav class="top-bar overlay-bar">
<div class="container">

  <div class="row nav-menu">
    <div class="col-md-2 col-sm-3 columns">
      <a href="#/"><img class="logo logo-light logo-wide" alt="Logo" src="images/logo-light.gif"></a>
      <a href="#/"><img class="logo logo-dark logo-wide" alt="Logo" src="images/logo-orange.png"></a>
    </div>
  
    <div class="col-md-10 col-sm-9 columns">
      <ul class="menu">
        
        <li><a href>Browse Cars</a></li>
        <li><a href>Sell Car</a></li>
        <li><a  href>Blog</a></li>
        <li><a  href>About <i class="fa fa-angle-down"></i></a>
          <ul class="subnav text-left">
            <li><a href>Car Experts</a></li>
            <li><a href>Our Team</a></li>
            <li><a href="tel:67416652">Call: 6741 6652</a></li>
          </ul>
        </li>
        <li>
          <a  href>Contact</a>
          
        </li>
        
        </li>
      </ul>

    <ul class="social-icons text-right">
        <li>
        <a href="https://twitter.com/gocarhero" target="_blank">
          <i class="icon social_twitter"></i>
        </a>
        </li>

        <li>
        <a href="https://www.facebook.com/pages/Carro/1636614393285235" target="_blank">
         <i class="icon social_facebook"></i>
        </a>
        </li>

        <li>
        <a href="https://instagram.com/gocarhero/" target="_blank">
          <i class="icon social_instagram"></i>
        </a>
        </li>
    </ul>
      

    </div>
  </div>
  
  <div class="mobile-toggle">
    <i class="icon icon_menu"></i>
  </div>
  
</div><!-- //end-container -->

    <div class="containe-fluid nav-filter">
        <div class="row-fluid">
            <ul>        
            <li 
            class="filter-menu" 
            dropdown 
            style="width:18%" 
            dropdown-toggle>
                <span>
                    All Models 
                    <i class="fa fa-angle-down pull-right"></i>
                </span>

                <ul 
                ng-click="$event.stopPropagation()" 
                class="dropdown-menu filter-models-menu">
                    <li>
                        <div class="search-control">                     
                            <input 
                            type="text" 
                            ng-model="term"
                            class="form-control" 
                            placeholder="search by name" />
                        </div>
                    </li>
                    <li><span class="model-title">Popular Models</span></li>
                    <li ng-repeat="model in models">
                    <a ng-href="#/car/{{model.car_make_id}}/{{model.car_model_id}}">{{model.title}} 
                    <i class="pull-right">{{model.count}} Cars</i>
                    </a></li>
                    <li class="">
                    <button class="" ng-click="openModels()">Add More Models 
                    <i class="fa fa-plus-circle"></i></button></li>
                </ul>
                
            </li><!-- ///End-models -->
             <li 
             class="filter-menu" 
             dropdown 
             on-toggle="priceRange.setFilter(open)"
             dropdown-toggle>
                <span>
                    <span>{{filter.price_min | currencyLen}}</span> - 
                    <span>{{filter.price_max | currencyLen}}</span>
                    <i class="fa fa-angle-down pull-right"></i>
                </span>

                <div 
                ng-click="$event.stopPropagation()" 
                class="dropdown-menu dropdownPrice">
                <div class="price-col">
                    <ul>
                        <li class="inactive" ng-click="priceRange.setMin(0)">
                        <b>Min</b>
                        </li>
                        <li 
                        ng-repeat="min in priceRange.minPrices track by $index" 
                        ng-class="priceRange.isLightMin(min)"
                        ng-click="priceRange.setMin(min)">{{min | currencyLen}}</li>
                        <li class="inactive">&nbsp</li>
                    </ul>
                </div>
                <div class="price-col">
                    <ul>
                        <li class="inactive">&nbsp</li>
                        <li 
                        ng-repeat="max in priceRange.maxPrices track by $index"
                        ng-class="priceRange.isLightMax(max)"
                        ng-click="priceRange.setMax(max)">{{max | currencyLen}}</li>
                        <li class="inactive" ng-click="priceRange.setMax()">
                        <b>Max</b></li>
                    </ul>
                </div>
                </div>
                
            </li>


             <li 
             class="filter-menu" 
             dropdown 
             on-toggle="depreRange.setFilter(open)"
             dropdown-toggle>
                <span>
                    <span>{{filter.depre_min | currencyLen}}</span> - 
                    <span>{{filter.depre_max | currencyLen}}</span>
                    <i class="fa fa-angle-down pull-right"></i>
                </span>

                <div 
                ng-click="$event.stopPropagation()" 
                class="dropdown-menu dropdownPrice">
                <div class="price-col">
                    <ul>
                        <li class="inactive" ng-click="depreRange.setMin(0)">
                        <b>Min</b>
                        </li>
                        <li 
                        ng-repeat="min in depreRange.depreMin track by $index" 
                        ng-class="depreRange.isLightMin(min)"
                        ng-click="depreRange.setMin(min)">{{min | currencyLen}}</li>
                        <li class="inactive">&nbsp</li>
                    </ul>
                </div>
                <div class="price-col">
                    <ul>
                        <li class="inactive">&nbsp</li>
                        <li 
                        ng-repeat="max in depreRange.depreMax track by $index"
                        ng-class="depreRange.isLightMax(max)"
                        ng-click="depreRange.setMax(max)">{{max | currencyLen}}</li>
                        <li class="inactive" ng-click="depreRange.setMax()">
                        <b>Max</b></li>
                    </ul>
                </div>
                </div>
                
            </li>

            <li 
            class="filter-menu" 
            on-toggle="yearFilter.setFilter(open)"
            dropdown dropdown-toggle>
                <span>
                {{filter.year}} & newer
                <i class="fa fa-angle-down pull-right"></i>
                </span>

                <ul 
                ng-click="$event.stopPropagation()" 
                class="dropdown-menu">
                <li 
                ng-repeat="year in yearFilter.years"
                ng-class="yearFilter.isLight(year)" 
                ng-click="yearFilter.setYear(year)">
                <a href >{{year}}</a>
                </li>
                </ul>
            </li>

             <li class="filter-menu" dropdown dropdown-toggle>
                <span>
                    Less than {{filter.mile_max | mileLen}}
                    <i class="fa fa-angle-down pull-right"></i>
                </span>

                <ul 
                ng-click="$event.stopPropagation()" 
                class="dropdown-menu">
                <li 
                ng-repeat="maile in mileageFilter.mileages" 
                ng-class="mileageFilter.isLight(maile)"
                ng-click="mileageFilter.setMileage(maile)">
                <a href>{{maile | mileLen}}</a></li>
                </ul>
                
            </li> 
             <li class="filter-menu" dropdown dropdown-toggle>
             <span>More
             <i class="fa fa-angle-down pull-right"></i>
             </span>
             <ul
             ng-click="$event.stopPropagation()" 
            class="dropdown-menu">
            <li ng-repeat="tran in moreFilters.transmission.transmissions"><label>
            <input 
            type="checkbox" 
            ng-checked="moreFilters.transmission.setTransmission(tran)" />{{tran}}</label></li>

             </ul>
            </li> 
            <li class="pull-right filter-menu" style="width: 10%" ng-click="resetFilters()">
                <span><i class="fa fa-refresh fa-lg"></i></span>
            </li>       
            </ul>              


        </div>
    </div><!-- //end-container -->
</nav></div>
<!-- end-nav -->
